.repository {
  width: 70%;
  height: 100vh;
}
.repository__title {
  width: 100%;
}
.repository__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  flex-wrap: wrap;
}

.repository__button{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button--load {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
}

.button--load:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button--load:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button--load:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.show-less{
  height: 703px;
}

.load-hide {
  display: none;
}